# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
**.DS_Store
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

real_time_reads/
datasets/
coordinate_reference.fasta

#don't commit demuxed or annotated reads...
demuxed/
annotations/

# editor configs etc
*.code-workspace
*.iml
*.iws
*.ipr
.vscode/

# folder with temporary run-specific data
/tmp/

# snakemake stuff
.snakemake/