
:root {
  --dark-background: #02292e;
  --dark-foreground: #fffcf2;
  --artic-red: #e06962;
  --header: #255a66;
  --light-text: #F6EECA;
}

/* ------------ FONTS --------------------- */
@font-face {
  font-family: 'Lato';
  src: local('LatoLatin-Light'), url(./LatoLatin-Light.woff) format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: local('LatoLatin-Hairline'), url(./LatoLatin-Hairline.woff) format('woff');
  font-weight: normal;
}


/* ----------- GLOBALS (BODY) --------------*/
body {
  overflow-x: hidden;
  font-family: "Lato";
  background: var(--dark-background);
  color: var(--dark-foreground);
}

/* ----------- BASIC ELEMENTS --------------*/
a {
  text-decoration: none;
  color: #5097BA;
  cursor: pointer;
  font-weight: 600;
  font-size: 94%;
}
h1 {
  font-weight: 600;
  font-size: 2em;
}
h1 {
  font-weight: 600;
  font-size: 1.5em;
}
div {
  font-weight: normal;
  font-size: 1em;
}


/* ------------- TOGGLE  SWITCH ---------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  top: 3px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* blue is #2196F3; */
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}
.slider.round:before {
  border-radius: 50%;
}



/* --------------- SIDEBARS --------------- */
div.sidebar {
  position: absolute;
  max-width: 85%;
  overflow-x: scroll;
  height: 95%;
  color: #fffcf2;
  background-color: var(--dark-background);
  padding: 10px;
  border: 3px solid var(--artic-red);
  border-radius: 10px;
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
}
div.sidebar.closed {
  right: -500px;
}
div.sidebar.open {
  right: 5px;
}
.sidebar label {
  display: block;
  padding: 5px;
}
.sidebar input.hidden {
  display: none;
}
.sidebar input {
  border-radius: 3px;
  border: 2px solid var(--artic-red);
  background-color: var(--dark-foreground);
  color: var(--artic-red);
  font-size: 16px;
  margin-left: 10px;
  height: 22px;
  padding: 4px;
}
.sidebar .bcLabel {
  display: inline-block;
  min-width: 130px;
}
.sidebar .inner {
  height: 100%;
  overflow: scroll;
}

/* ------------ CONFIG SIDEBAR -------------------- */
.sidebar div.fileDropZone {
  width: 200px;
  height: 24px;
  border: 1px dashed var(--dark-foreground);
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  padding-top: 4px;
  font-weight: 600;
}
.sidebar div.fileDropZone.dragging {
  background-color: var(--artic-red);
}
.sidebar div + button {
  display: inline-block;
}


/* -------------------- HEADER --------------------- */
div.header {
  width: 100%;
  margin: auto;
  background-color: var(--header);
  color: var(--light-text);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.header .logo {
  float: left;
  margin: 10px;
}
div.header .buttons {
  display: flex;
  flex-direction: column;
}


/* ----------------- MODERN BUTTONS --------------------- */
button.modernButton {
  display: block;
  background: var(--dark-foreground);
  color: var(--artic-red);
  border: 1px solid var(--dark-foreground);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 5px;
  margin: 5px;
}
button.modernButton:hover {
  background: var(--artic-red);
  color: var(--dark-foreground);
}


/* -------------------   UNKNOWN --------------------- */

/* config stuff */
div.sidebar {
  position: absolute;
  right: 0px;
}

/* -------------------- REPORT -------------------------- */
.report {
  min-width: 70vw; /* sidebar's max width */
}
.report caption {
  padding-top: 40px;
  text-align: left;
}
.report table {
  border-collapse: collapse;
  border-spacing: 0;
}
.report td {
  border-top: 1px solid var(--dark-foreground);
  border-bottom: 1px solid var(--dark-foreground);
}
.report th {
  border: none;
  padding: 2px 3px 2px 3px;
}
.report td {
  padding: 2px 4px 2px 4px;
}
.report .spaceLeft {
  padding-left: 50px
}
.report div.caption,
.report caption {
  color: var(--artic-red);
  font-size: 1.5em;
  font-weight: 600;
}
th.rotate > div {
  /* see https://css-tricks.com/rotated-table-column-headers/ */
  transform: translate(27px, -16px) rotate(315deg); /* magic numbers */
  width: 45px;
}
th.rotate > div > span {
  /* the underlining of rotated labels */
  padding: 0px 0px 10px 0px;
  border-bottom: 0.5px dashed var(--dark-foreground);
  font-weight: 600;
}
th.rotate {
  padding-top: 135px; /* must calculate */
  border: none
}


/* -----------S U M M A R Y   P A N E L ---------- */
#overallSummaryContainer {
  width: calc(100% - 30px);
  height: 350px;       /* adjusting will also adjust the graphs */
  min-height: 350px;
  margin: 10px 10px 10px 10px;
}


/* ---------------  P A N E L S  ----------------- */
.panelContainer {
  position: relative;
  width: 98%;
  margin: 10px 10px 10px 10px;
  transition: height 0.5s ease-in;
  -webkit-transition: height 0.5s ease-in;
  border: 1px solid gray;
  border-radius: 5px;
  border-left: 5px solid gray;
}
.panelContainer.collapsed {
  height: 30px;
  min-height: 30px;
}
.panelContainer.expanded {
  height: 370px;
  min-height: 370px;
}
.panelContainer > .infoRow {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
}
.panelContainer > .infoRow > span {
  font-weight: bold;
  font-size: 1.3em;
}
.panelContainer > .infoRow > span:first-child {
  padding-left: 20px;
}
.panelContainer > .infoRow > span:last-child {
  padding-right: 10px;
}
.panelFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100% - 26px);
}

/* ---------------  C H A R T S ----------------- */
.graphContainer {
  margin: auto;
  height: 100%;
  position: relative;
}
.chartTitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
  color: var(--light-text);
}
.hoverInfo {
  z-index: 20;
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  /* background-color: hsla(0,0%,0%,.8); */
  background-color: var(--artic-red);
  color: var(--light-text);
  pointer-events: none;
  visibility: hidden;
  font-size: 14px;
  font-weight: 700;
  overflow-wrap: break-word;
}

/* --------------------- D3 --------------------- */
.axis text,
text.axis {
  fill: var(--light-text); /* not color as it's SVG */
  font-size: '12px';
}
.legend > text {
  fill: var(--light-text); /* not color as it's SVG */
}
rect.amplicon,
rect.gene {
  stroke: none;
  fill: var(--light-text);
}
rect.gene + text {
  fill: var(--dark-background);
}
.axis path,
.axis line {
  fill: none;
  stroke: var(--light-text);
  stroke-width: 1;
  shape-rendering: auto;
}




/* -------------- BASECALLED DIR ---------------- */
.centerVertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.centerHorizontally {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.startUp > label {
  display: block;
  padding: 5px;
}
.startUp input {
  border-radius: 3px;
  border: 2px solid var(--artic-red);
  background-color: var(--dark-foreground);
  color: var(--artic-red);
  font-size: 16px;
  margin-left: 10px;
  height: 22px;
  padding: 4px;
  width: 80vw;
  max-width: 800px;
}
.startUp > button {
  margin-top: 50px;
  margin-bottom: 100px;
}